<div class="row">
  <div class="col-md-8 col-md-offset-3">
    <h3>admin</h3>
    <a href="/categories"><button type="button" name="button" class="btn">Categories</button></a>
    <a href="/products"><button type="button" name="button" class="btn">Products</button></a>
  </div>
</div>
