<div class="container">
  <!-- ::before -->
  <div class="row">
    <!-- ::before -->
    <div id="cart_content" class="col-sm-12">
      <ul class="breadcrumb">
        <li>
          <a href="/">
            <i class="fa fa-home">
              <!-- ::before -->
            </i>
          </a>
          <!-- ::after -->
        </li>
        <li>
          <!-- ::before -->
          <!-- need to specify link -->
          <a href="#">
            Shopping Cart
          </a>
          <!-- ::after -->
        </li>
      </ul>
      <h1>Shopping Cart</h1>
      <!-- need to connect 'shopping_cart' form -->
      <!-- need to specify link for 'action' -->

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr class="active">
                <td class="text-center">
                  <strong>Image</strong>
                </td>
                <td class="text-left">
                  <strong>Product Name</strong>
                </td>
                <td class="text-left">
                  <strong>Category</strong>
                </td>
                <td class="text-left">
                  <strong>Quantity</strong>
                </td>
                <td class="text-right">
                  <strong>Unit Price</strong>
                </td>
                <td class="text-right">
                  <strong>Total</strong>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <!-- need to create class 'image'? -->
                  <div class="image">
                    <!-- need to specify link -->
                    <a href="#">
                      <!-- need to specify product image -->
                      <!-- need to specify 'title' of product -->
                      <img src="" alt="image of product" title="name of product" class=img-thumbnail>
                    </a>
                  </div>
                </td>
                <td class="text-left">
                  <!-- # need to specify product name/link -->
                  <a href="#"><%= @product.name%></a>
                </td>
                <!-- need to display category name -->
                <td class="text-left"><%= @category.name %></td>
                <td class="text-left">
                  <div class="input-group btn-block" style="max-width: 200px;">
                    <form class="" action="/cart" method="post">
                      <input name="_method" type="hidden" value="patch">
                      <p class="clearfix">
                          <!-- ::before -->
                        <input type="text" name="quantity" value="1" size="1" class="form-control">
                        <!-- ::after -->
                      </p>
                      <div>
                        <button type="submit" class="btn btn-success">
                          <i class="fa fa-refresh">
                            <!-- ::before -->
                          </i>
                        </button>
                        <!-- change 'cart'.remove to correct name -->
                        <button type="button" class="btn btn-danger">
                          <i class='fa fa-times-circle'>
                            <!-- ::before -->
                          </i>
                        </button>
                      </div>
                    </form>
                  </div>
                </td>
                <td class="text-right">
                  <!-- need to create css class 'cart-price' -->
                  <div class="cart-price">
                    <%= @product.list_price %>
                  </div>
                </td>
                <td class="text-right">
                  <!-- need to create css class 'price-total' -->
                  <div class="price price-total">
                    total price
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      <div class="row">
        <!-- ::before -->
        <div class="col-sm-12">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="text-right">
                  <strong>Sub-Total:</strong>
                </td>
                <td class="text-right">
                  <div class="price">
                    subtotal price here
                  </div>
                </td>
              </tr>

              <tr>
                <td class="text-right">
                  <strong>Sales Tax (10%)</strong>
                </td>
                <td class="text-right">
                  <div class="price">
                    sales tax cost here
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-right">
                  <strong>Total:</strong>
                </td>
                <td class="text-right">
                  <div class="price">
                    total price here
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
        <div>
          <!-- specify link -->
          <a href="#" class="btn btn-success">Continue Shopping</a>
        </div>
        <div>
          <!-- specify link -->
          <a href="#" class='btn btn-success'>Checkout</a>
        </div>
    </div>
  </div>
</div>
