<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="gp">
  <h3><img src="https://images.vexels.com/media/users/3/143373/isolated/preview/4b7f61d880ecd0125b88ac6898721733-blue-flat-check-mark-by-vexels.png" alt="check" style="width:100px;height:80px;">
  <i><%= @product.name %></i> has been added to cart.
  <br>
      qty: <%= @quantity %></h3>
</div>

<br>

<a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span>Cart</a>

<a href="/checkout%>"><span class="glyphicon glyphicon-shopping-cart"></span>Proceed to checkout</a>
