<div class="row main-content">
  <div class="col-sm-3"></div>
  <div class="col-sm-9 content">
    <div class="img-slider">
      <div class="slide">
        <div class="cameraContent cameracurrent" style="display: block;">
          <div class="camera_caption fadeIn" style="visibility: visible; opacity: 1;"><div>
          <img src="/image/iphone6.png" alt="iPhone 6">
          <div class="slider-content">
            <h2 style="visibility: inherit; opacity: 1; right: auto;">iPhone 6</h2>
            <p style="visibility: inherit; opacity: 1; right: auto;">Comfort is a very important thing nowadays because it is a condition of satisfaction.</p>
            <a href="index.php?route=product/product&amp;product_id=43" style="visibility: inherit; opacity: 1; bottom: 0px;">Shop now!</a>
          </div>
  			</div>
      </div>
    </div>
  </div>
</div>
