.hide{
  display:none;
}
.header {
    background: #f2f2f2;
}
.social-list li a, .social-list li{
  display: inline-block;
}
.social-list {
  list-style: none;
  display: inline-block;
  margin: 0;
  height: 35px;
  float: right;
}
.sm {
  height: 30px;
  width: 30px;
  display: inline-block;
  background-position: center;
  background-size: cover;
}
.sm-youtube{
  background-image: url('/image/youtube2.png');
}
.sm-facebook{
  background-image: url('/image/facebook2.png');
}
.sm-twitter{
  background-image: url('/image/twitter2.png');
}
.sm-google{
  background-image: url('/image/googleplus2.png');
}
.sm-youtube:hover{
  background-image: url('/image/youtube.png');
}
.sm-facebook:hover{
  background-image: url('/image/facebook.png');
}
.sm-twitter:hover{
  background-image: url('/image/twitter.png');
}
.sm-google:hover{
  background-image: url('/image/googleplus.png');
}
.fixed {
  position: fixed;
  width: 100%;
  background: #f2f2f2;
  top: 0;
  padding-bottom: 1rem;
  z-index: 999;
}
.logo{
  width: 40%;
}
.search {
    position: relative;
    z-index: 46;
    width: 100%;
    height: 35px;
    padding: 0 93px 0 11px;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #FFF;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 8px;
}
.search input {
    line-height: 16px;
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    color: #2f2f2f;
    outline: none;
}
.search button {
    background: none;
    border: none;
    display: inline-block;
    padding: 0;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
    -webkit-appearance: none;
    position: absolute;
    right: 0;
    top: -1px;
    bottom: -1px;
    padding: 0 18px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #19caaf;
    color: #FFF;
    font-size: 14px;
}
.clear {
    clear: both;
    margin: 0;
    padding: 0;
    font-size: 0;
    border: 0;
    line-height: 0;
}
.phone {
  color: #2f2f2f;
  font-size: 21px;
  font-weight: 500;
  float: right;
}
.user{
  float: right;
  width: 10%;
  font-size: 13px;
  line-height: 30px;
  font-family: sans-serif;
}
.user a{
  color: #19caaf;
  margin-left: 10%;
}
.nav {
  margin-top: 19px;
  background: #2f2f2f;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 24px;
}
.nav>ul {
    margin: 0;
    float: left;
}
.nav>ul>li {
    margin-top: 20px;
}
.nav a {
    font-size: 14px;
    color: #FFF;
}
a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    outline: none;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.box-cart {
    position: relative;
}
.header .box-currency, .header .box-cart {
    float: right;
}
.cart {
    position: relative;
}
.cart>button {
    background: #19caaf;
    border-top-right-radius: 5px;
    border: 0;
    padding: 0 21px 0 18px;
    line-height: 59px;
    text-align: center;
    font-size: 14px;
    color: #FFF;
}
.cart>button>i {
    float: left;
    margin-right: 10px;
    font-size: 30px;
    color: #FFF;
    display: block;
}

.cart .cart-total {
  margin-left: 1rem !important;
  font-size: 15px;
  font-family: sans-serif;
}

.cart .dropdown-menu {
    background: #f2f2f2;
    z-index: 1001;
    min-width: 260px;
}

.cart .dropdown-menu li p {
    margin: 20px 0;
}

.navigation{
  margin-top: 95px;
}

.cart-icon{
  height: 30px;
  width: 30px;
}

.cart-down{
  margin-left: 2rem !important;
}

.home-icon, .account-icon, .carts-icon{
  color: #19caaf;
  margin-left: 20px;
}

.nav-name{
  margin: 5px;;
}

.box-heading h3 {
    padding: 18px 5px 18px 20px;
    font-size: 19px;
    line-height: 24px;
    font-weight: 400;
    background: rgba(25, 202, 175, 1);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: #FFF;
    margin: 0;
    text-transform: none;
    margin-top: 19px;
}

.justify-icon{
  margin-right: 1rem;
}

.box-heading{
  position: relative;
}

.box-category{
  position: absolute;
  width: 100%;
}

.box-category ul{
  margin: 0;
  padding: 0;
}

.box-category li{
  list-style: none;
  display: block;
  padding: 13px 30px 13px 17px;
  font-size: 14px;
  color: #2f2f2f;
  background: #f2f2f2;
  font-weight: 500;
  border-top: 1px solid #D9D9D9;
}

.box-category li a{
  color: #2b2b2b !important;
}

.box-category li a:hover{
  text-decoration: none;
  color: #19caaf !important;
}

.content{
  height: 100%;
}

.img-slider{
  position: relative;
  background: #f2f2f2;
  height: 30%;
  margin: 3rem 1.5rem 3rem 0.8rem;
  overflow: hidden;
}

.img-slider img{
  width: 40%;
  height: 100%;
  margin-left: 5%;
}

.slider-content {
  position: absolute;
  right: 0;
  bottom: 7%;
  width: 40%;
  height: 60%;
}

.slider-content h2{
  font-size: 19px;
  font-weight: 400;
  color: #19caaf;
  margin-bottom: 0;
}

.slider-content p{
  margin: 0 0 10px;
  color: #807e7e;
  line-height: 16px;
}

.slider-content a{
  margin-top: 5px;
  position: relative;
  display: inline-block;
  padding: 7.5px 29px 7.5px 26px;
  line-height: 21px;
  color: #fff;
  border-radius: 5px;
  background: #2f2f2f;
  font-size: 14px;
}

.slider-content a:hover{
  background: #19caaf !important;
  color: #fff !important;
  text-decoration: none;
}

.tv{
  width: 66% !important;
  margin-top: 3rem;
}

.ipad{
  width: 46% !important;
}

.prev-next{
  position: absolute;
  bottom: 0;
  right: 3%;
  padding: 6px;
  width: 8%;
}

.prev-next a{
  padding: 1px;
  background: #000;
  border-radius: 1rem;
  color: #fff;
}

.prev-next a:hover{
  color: #19caaf !important;
}

.banners .banner-box {
    position: relative;
}
.banners>div .s-desc h2 {
  color: #19caaf;
  font-size: 19px;
  font-weight: 400;
}
.banners>div .s-desc {
  border: 1px solid #e5e5e5;
  padding: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 17px;
  bottom: 30px;
  z-index: -1;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0.3s;
}
.banner-box>a:hover .s-desc{
  border-color:#19caaf;
  background:#19caaf;
}
.banners>div .s-desc h2 {
    margin-top: 10px;
    padding-right: 210px;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0.3s;
}
.s-desc p{
  font-size: 1.2rem;
  color: #6b6363;
  margin-top: 10px;
  padding-right: 210px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0.3s;
}
.banner-box>a:hover .s-desc h2 {
  color:#fff !important;
}
.banner-box>a:hover .s-desc p {
  color:#fff;
}
.banner-box>a:hover .link{
  color:#000 !important;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.product-heading h3{
    color: #2f2f2f;
    margin: 0 0 20px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding: 14px 40px 14px 20px;
    background-color: #f2f2f2;
    font-size: 15px;
    font-weight: 400;
}
.icon-up-down{
  display: inline-block;
  float: right;
  font-size: 1rem;
  color: #717070;
}
.each-product-showcase{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 30px 0;
}
.showcase-wrapper{
  border: 1px solid #EDEDED;
  padding: 20px 14px 16px 19px;
  overflow: hidden;
}
.showcase-wrapper img:hover{
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.showcase-item-price{
  font-size: 15px;
  color: #19caaf;
  margin-bottom: 2rem;
}
.link a{
  padding: 1rem;
  background: #19caaf;
  color: #fff;
  font-size: 14px;
  padding-right: 25px;
}
.link a:hover{
  background: #dadada;
  color: #19caaf;
  text-decoration: none;
  border: 1px solid #a5a5a5;
}
.link{
  text-align: center;
}
.link span{
  margin: 10px;
}
.error {
  color: red;
}

#cart_content {
  padding-bottom: 10px;
}
